/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
/* Primary Text */
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Background gradient: */
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/* Neutral Text */
--very-dark-greyish-blue: hsl(237, 12%, 33%);
--dark-greyish-blue: hsl(240, 6%, 50%);

/* Dividers */
--light-greyish-blue: hsl(240, 5%, 91%);
}

/* Background */
html {
  height: 100%;
  background-image: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  font-size: 60%;
}

.largest-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  display: flex;
  background-color: white;
  /* max-width: 110rem; */
  min-width: 130rem;
  height: 50rem;
  border-radius: 25px;
  /* padding: 100px; */
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

/* Images */
.illustration {
  width: 43%;
  position: relative;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-position: bottom -10rem left -55rem;
  background-repeat: no-repeat;
}

/* #img-bg {
  position: absolute;
  top: -360px;
  left: 0px;
  z-index: 0;
} */

.illustration .woman-at-desk {
  /* position: relative;
  top: -950px;
  left: 399px;
  z-index: 1; */
  width: 45rem;
  position: relative;
  left: -5rem;
  top: 5.5rem;

}

#office-box {
  /* position: relative;
  top: -990px;
  left: -90px;
  z-index: 2; */
  position: absolute;
  left: -10rem;
  top: 18rem;
  z-index: 2;
}

.mobile {
  visibility: hidden;
}

/* Typography */
h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 40px;
  color: var(--very-dark-desaturated-blue);
  font-size: 32px;
}

h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-greyish-blue);
  font-size: 14px;
  display: block;
  cursor: pointer;
}

h2:hover {
  color: var(--soft-red);
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-greyish-blue);
  font-size: 12px;
}

.answer {
  display: none;
}

.down-arrow {
  display: inline;
}

/* Questions */
.questions {
  /* width: 57%; */
  width: 35%;
  height: 100%;
  padding: 5.5rem;
}

.question {
  display: block;
}

.show-text .active-question {
  display: block;
  color: var(--very-dark-greyish-blue);
  font-weight: 700;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.show-text .down-arrow-button {
  display: inline-block;
  cursor: pointer;
  transform: scaleY(-1);
}

.show-text .answer {
  display: block;
}

hr {
  margin: 15px 0 15px 0;
  opacity: 25%;
}

/* Attribution */
.attribution {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11px;
  text-align: center;
  color: var(--light-greyish-blue);
  margin-top: 20px;
}

.attribution a {
  color: var(--light-greyish-blue);
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .main-container {
    width: auto;
    height: auto;
  }

  .questions {
    width: 50%;
    height: auto;
  }

  .illustration {
    background-image: none;
  }

  .illustration .woman-at-desk {
    display: none;
  }

  .mobile {
    visibility: visible;
    width: 30rem;
    position: absolute;
    top: -12rem;
    left: 1.5rem;
  }
}