/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
/* Primary Text */
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Background gradient: */
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/* Neutral Text */
--very-dark-greyish-blue: hsl(237, 12%, 33%);
--dark-greyish-blue: hsl(240, 6%, 50%);

/* Dividers */
--light-greyish-blue: hsl(240, 5%, 91%);
}

/* Background */
body {
  background-image: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
}

.main-container {
  background-color: white;
  border-radius: 25px;
  display: flex;
  padding: 40px;
}

/* Images */
/* #img-bg {
  position: relative;
  top: -360px;
  left: -100px;
  z-index: 0;
}

#woman-at-desk {
  position: relative;
  top: -950px;
  left: 399px;
  z-index: 1;
}

#office-box {
  position: relative;
  top: -990px;
  left: -90px;
  z-index: 2;
} */

/* Typography */
h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 40px;
  color: var(--very-dark-desaturated-blue);
  font-size: 32px;
}

h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-greyish-blue);
  font-size: 14px;
  display: block;
  cursor: pointer;
}

h2:hover {
  color: var(--soft-red);
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-greyish-blue);
  font-size: 12px;
}

.answer {
  display: none;
}

.down-arrow {
  display: inline;
}

/* Questions */
.questions {
  position: relative;
  width: 330px;
}

.question {
  display: block;
}

.down-arrow {
  display: inline-block;
}

.show-text .answer {
  display: block;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}